<a href="https://colab.research.google.com/github/GitProfAn/GitProfAn/blob/main/Google_Colab_test_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import shutil

shutil.copy("/content/drive/MyDrive/Colab Notebooks/datasets.zip", "datasets.zip")

'datasets.zip'

In [3]:
!unzip datasets.zip

Archive:  datasets.zip
   creating: datasets/
  inflating: datasets/iris.data

In [4]:
import pandas as pd

In [5]:
data = pd.read_fwf("datasets/iris.data")

In [6]:
data.head()

   5.1,3.5,1.4,0.2,Iris-setosa
0  4.9,3.0,1.4,0.2,Iris-setosa
1  4.7,3.2,1.3,0.2,Iris-setosa
2  4.6,3.1,1.5,0.2,Iris-setosa
3  5.0,3.6,1.4,0.2,Iris-setosa
4  5.4,3.9,1.7,0.4,Iris-setosa